<!-- templates/register.html -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <title>Register</title>
</head>

<body class="body-register">
  <div class="form-container">

    <h2>Registrasi</h2>
    <form method="post" class="form">

      <div class="login-container">

        <label class="label-form">Username:</label>
        <input type="text" name="username" required class="form-input"><br>

      </div>

      <div class="login-container">

        <label class="label-form">Email:</label>
        <input type="email" name="email" required class="form-input"><br>

      </div>

      <div class="login-container">

        <label class="label-form">Password:</label>
        <input type="password" name="password" required class="form-input"><br>

      </div>

      <button type="submit" class="btn-login">Register</button>
    </form>
    <p>Sudah punya akun? <a href="/login">Login di sini</a></p>

  </div>
</body>

</html>